body {

  display: flex; flex-direction: column;
  align-items: center; justify-content: center;

  margin: 0; padding: 0;
  width: 100%; min-height: 100vh;

  background: #101015;

  font-family: sans-serif;
  color: #FAFAFC;

}



#background {

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  background: url('../img/backdrop.jpg'); background-size: cover;

  opacity: .1;
  z-index: 1;

}



h1 {

  text-align: center;

  z-index: 2;

}
